.container-fluid {
  padding-top: 70px;
}

#sidebar{
  min-height: 3000px;
}

#sidebar-links {
   list-style: none;
}
.sidebar-links {
   list-style: none;
   font-size: .9em;
}

.hr {
  width: 60%;
  object-position: center;
}

#img {
width: auto;
height: 240px;
 }
